<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
</head>

<body>
    <div id="searchBox">
        <form>
            <h1>
                Search for a song:
            </h1>
            <input type="text" id="searchField" value="">
            <button type="button" onclick="fetchItunesInfo()"> Search </button>
        </form>
    </div>
    <form method="post" action="/renamePlaylist">
        Input: <input type="text" name="playlistRename" required>
    </form>
    <form method="post" action="/loadDatabase">
        <input type="submit" name="databaseentries" value="Get Database" />
    </form>
    {% if databaseentries %}
        {% for entry in databaseentries %}
            <p>{{entry}}</p>
        {% endfor %}
    {% endif %}
    <div id=playlist>
        <h2> My playlist:
        </h2>
    </div>

</body>
</html>