body {
    padding: 0%;
    margin: 0%;
}

#playlist {
    height: 500px;
    width: 100%;
    padding: 5%;
    border: 1px solid powderblue;

}

h1 {
    font-style: Book Antiqua;
}

#trash:hover {

    background-color: RoyalBlue;
    /* Sets color to darker blue wheh hovering over it*/
}

#searchBox {
    height: 20%;
    background-color: aliceblue;
}

form {
    text-align: center;
    /*sets the search bar form to the middle*/
    padding: 5%;
}

#searchField {
    width: 50%;
}